package emojiflags

const (
    {{range .Countries}}{{format .Name.Common}}Code = "{{.Cca2}}"
    {{end}}
    {{range .SpecialCountries}}{{format .Name}}Code = "{{.Code}}"
    {{end}}
)

var Cca2CodeMap = map[string]string {
    {{range .Countries}}"{{.Cca2}}": "{{.Cca2}}",
    {{end}}
}

var Cca3CodeMap = map[string]string {
    {{range .Countries}}"{{.Cca3}}": "{{.Cca2}}",
    {{end}}
}

var CiocCodeMap = map[string]string {
		{{range .Countries}}
		{{if ne .Cioc ""}}
			"{{.Cioc}}": "{{.Cca2}}",
		{{end}}
		{{end}}
}

var SpecialCountryMap = map[string]string{
		{{range .SpecialCountries}}"{{.Code}}": "{{.Code}}",
    {{end}}
}