name: Go CI

on:
  push:
    branches:
      - master
      - develop
      - fix/*
  pull_request:
    branches:
      - develop

jobs:
  crawl_data_then_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.16' # The Go version to download (if necessary) and use.
      - name: Crawl Countries Data
        run: go run ./crawler/crawler.go && gofmt -s -w .
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: generate country_map.go
      - name: Run Tests
        run: go test -v -count=1 -race $(go list ./...)
